commands:
  01_download_maven:
    command: |
      if [ ! -d /opt/maven ]; then
        cd /tmp
        wget https://archive.apache.org/dist/maven/maven-3/3.9.6/binaries/apache-maven-3.9.6-bin.tar.gz
        tar xzf apache-maven-3.9.6-bin.tar.gz
        mv apache-maven-3.9.6 /opt/maven
      fi
    test: "[ ! -d /opt/maven ]"

  02_build_jar:
    command: |
      export PATH=/opt/maven/bin:$PATH
      cd /var/app/staging
      mvn clean package -DskipTests
      cp target/bff-bob-a-thon-1.0.0.jar /var/app/staging/
    leader_only: true